@model AuctionPortal.Models.Coupon

<form method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Name" class="control-label col-md-2">Name:</label>
        <div class="col-md-10">
            <input type="text" id="Name" name="Name" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="Description" class="control-label col-md-2">Description:</label>
        <div class="col-md-10">
            <textarea id="Description" name="Description" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="ExpireDate" class="control-label col-md-2">Expire Date:</label>
        <div class="col-md-10">
            <input type="date" id="ExpireDate" name="ExpireDate" class="form-control"  />
        </div>
    </div>

    <div class="form-group">
        <label for="NumberOfUses" class="control-label col-md-2">Discount %</label>
        <div class="col-md-10">
            <input type="number" id="DiscountPercentage" name="DiscountPercentage" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="NumberOfUses" class="control-label col-md-2">Number Of Uses:</label>
        <div class="col-md-10">
            <input type="number" id="NumberOfUses" name="NumberOfUses" class="form-control"  />
        </div>
    </div>

    <div class="form-group">
        <label for="UserEmail" class="control-label col-md-2">User Email:</label>
        <div class="col-md-10">
            <input type="email" id="UserEmail" name="UserEmail" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>