@model ExternalUserRegistrationViewModel
@{
    ViewData["Title"] = "External User Registration";
}

<h1>External User Registration</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalUserRegistration" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" value="@TempData["Email"]" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsSeller">I want to become a seller</label>
                <input asp-for="IsSeller" type="checkbox" class="form-check-input" id="isSellerCheckbox" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById('isSellerCheckbox').addEventListener('change', function () {
            var sellerRegistrationButton = document.getElementById('sellerRegistrationButton');
            if (this.checked) {
                sellerRegistrationButton.style.display = 'block';
            } else {
                sellerRegistrationButton.style.display = 'none';
            }
        });
    </script>
}
